.header {
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

.header .menu a {
    margin: 0 10px;
    width: 100px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    text-align: center;
}

.header .menu a:hover,
.header .menu a:focus,
.header .menu a.active {
    background: #ffc001;
    color: #fff;
}
